.p_button {
	position: relative;
	left: 30vw;
	bottom: 1.2vw;
	width: 10px;

	.p_b {
		position: relative;
		border: .6px solid rgba(227, 15, 255, 0.822);
		font-size: 15px;
		box-shadow: .3vw .64vh .2px .2px rgba(90, 84, 84, 0.575);
		padding: 4px;
		width: 12vw;
		height: 6vh;
		border-radius: 50px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		letter-spacing: .08vw;
		transition: box-shadow .05s ease-in-out;

		&:focus {
			outline: none;
		}

		&:active {
			top: 1px;
			box-shadow: 2px 2px .1px .1px rgba(90, 84, 80, 0.490);
		}
	}
}
